body {
    margin-right: auto; 
    margin-left:  auto; 
  
    max-width: 1024px;
  
    padding-right: 10px;
    padding-left:  10px;
  }
  header
  {
    margin: 0,0 ,0,0;
    position: center;

  }
  div>h1
  {
    text-align: center;
  }